@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Fonts */
  --font-sans: var(--font-outfit);
  --font-mono: var(--font-outfit); /* If you're not using mono fonts, this can be removed */

  /* Color Palette */
  --color-primary: #736B60;
  --color-secondary: #A49694;
  --color-accent: #4B4237;
  --color-light: #EDE7D9;

  /* Nav */
  --color-nav-bg: #223843;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
